![](image.jpg)

It's not that we humans only take debts to manage our necessities. A country may also take debt to manage its economy. For example, infrastructure spending is one costly ingredient required for a country's citizens to lead comfortable lives. [The World Bank](https://www.worldbank.org) is the organization that provides debt to countries.

In this notebook, we are going to analyze international debt data collected by The World Bank. The dataset contains information about the amount of debt (in USD) owed by developing countries across several categories. We are going to find the answers to questions like: 

- What is the total amount of debt that is owed by the countries listed in the dataset?
- Which country owes the maximum amount of debt and what does that amount look like?
- What is the average amount of debt owed by countries across different debt indicators?

Below is a basic schema of the database you will be working with:

## `debt_indicators` table

| Column | Definition | Data Type |
|-|-|-|
|country_name|Name of the country|`varchar`|
|country_code|Code representing the country|`varchar`|
|indicator_name|Description of the debt indicator|`varchar`|
|indicator_code|Code representing the debt indicator|`varchar`|
|debt|Value of the debt indicator for the given country (in current US dollars)|`float`|

You will execute SQL queries to answer six questions, as listed in the instructions.

In [15]:
--num_distinct_countries
SELECT 
    COUNT(DISTINCT international_debt.country_name) AS total_distinct_countries
FROM international_debt;

   total_distinct_countries
0                       124

In [16]:
--distinct_debt_indicators
SELECT 
    DISTINCT international_debt.indicator_code AS distinct_debt_indicators
FROM international_debt
ORDER BY distinct_debt_indicators;

   distinct_debt_indicators
0            DT.AMT.BLAT.CD
1            DT.AMT.DLXF.CD
2            DT.AMT.DPNG.CD
3            DT.AMT.MLAT.CD
4            DT.AMT.OFFT.CD
5            DT.AMT.PBND.CD
6            DT.AMT.PCBK.CD
7            DT.AMT.PROP.CD
8            DT.AMT.PRVT.CD
9            DT.DIS.BLAT.CD
10           DT.DIS.DLXF.CD
11           DT.DIS.MLAT.CD
12           DT.DIS.OFFT.CD
13           DT.DIS.PCBK.CD
14           DT.DIS.PROP.CD
15           DT.DIS.PRVT.CD
16           DT.INT.BLAT.CD
17           DT.INT.DLXF.CD
18           DT.INT.DPNG.CD
19           DT.INT.MLAT.CD
20           DT.INT.OFFT.CD
21           DT.INT.PBND.CD
22           DT.INT.PCBK.CD
23           DT.INT.PROP.CD
24           DT.INT.PRVT.CD

In [17]:
--total_debt
SELECT 
    ROUND(SUM(international_debt.debt)/1000000, 2) AS total_debt
FROM international_debt;

   total_debt
0  3079734.49

In [18]:
--highest_debt_country
SELECT 
    international_debt.country_name, 
    SUM(international_debt.debt) AS total_debt
FROM international_debt
GROUP BY country_name
ORDER BY total_debt DESC
LIMIT 1;

  country_name    total_debt
0        China  2.857935e+11

In [19]:
--avg_debt_per_indicator
SELECT 
    international_debt.indicator_code AS debt_indicator,
    international_debt.indicator_name,
    AVG(international_debt.debt) AS average_debt
FROM international_debt
GROUP BY debt_indicator, indicator_name
ORDER BY average_debt DESC
LIMIT 10;

   debt_indicator  ...  average_debt
0  DT.AMT.DLXF.CD  ...  5.904868e+09
1  DT.AMT.DPNG.CD  ...  5.161194e+09
2  DT.DIS.DLXF.CD  ...  2.152041e+09
3  DT.DIS.OFFT.CD  ...  1.958983e+09
4  DT.AMT.PRVT.CD  ...  1.803694e+09
5  DT.INT.DLXF.CD  ...  1.644024e+09
6  DT.DIS.BLAT.CD  ...  1.223139e+09
7  DT.INT.DPNG.CD  ...  1.220411e+09
8  DT.AMT.OFFT.CD  ...  1.191188e+09
9  DT.AMT.PBND.CD  ...  1.082624e+09

[10 rows x 3 columns]

In [20]:
--highest_principal_repayment
SELECT 
    international_debt.country_name, 
    international_debt.indicator_name
FROM international_debt
WHERE debt = (SELECT 
                  MAX(debt)
              FROM international_debt
              WHERE indicator_code='DT.AMT.DLXF.CD');

  country_name                                     indicator_name
0        China  Principal repayments on external debt, long-te...