# Challenge 1: Chipotle Sales

### Scenario: You are a financial data analyst at Chipotle and your manager has tasked you with analyzing the most recent sales numbers. She has provided the following set of questions she would like answered.

In [145]:
# import libraries/packages
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt

In [146]:
# Get dataset
url = 'https://raw.githubusercontent.com/justmarkham/DAT8/master/data/chipotle.tsv'
chipo = pd.read_csv(url, sep='\t')
chipo.head()

,order_id,quantity,item_name,choice_description,item_price
0,1,1,Chips and Fresh Tomato Salsa,NaN,$2.39
1,1,1,Izze,[Clementine],$3.39
2,1,1,Nantucket Nectar,[Apple],$3.39
3,1,1,Chips and Tomatillo-Green Chili Salsa,NaN,$2.39
4,2,2,Chicken Bowl,"[Tomatillo-Red Chili Salsa (Hot), [Black Beans...",$16.98

In [147]:
chipo.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4622 entries, 0 to 4621
Data columns (total 5 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   order_id            4622 non-null   int64
 1   quantity            4622 non-null   int64
 2   item_name           4622 non-null   object
 3   choice_description  3376 non-null   object
 4   item_price          4622 non-null   object
dtypes: int64(2), object(3)
memory usage: 180.7+ KB

### 1. Which was the most-ordered item?

In [148]:
# 1. Which was the most-ordered item?
q1_1 = chipo.groupby('item_name')['quantity']
most_ordered = q1_1.sum().idxmax()
print('The most ordered item is', most_ordered)

The most ordered item is Chicken Bowl

### 2. For the most-ordered item, how many items were ordered?

In [149]:
# 2. For the most-ordered item, how many items were ordered?
q2 = q1_1.sum().sort_values(ascending=False)
num_of_times_ordered = q2.max()
print('For the most-ordered item, the total number ordered was', num_of_times_ordered)

For the most-ordered item, the total number ordered was 761

### 3. What was the most ordered item in the choice_description column?

In [150]:
# 3. What was the most ordered item in the choice_description column?
# create an empty array choice_item
choice_item= []

# create a for loop that removes the square bracket ([]) from the items in choice_description and adds them to choice_item
for i in chipo['choice_description']:
    if type(i) == str:
        choice_item.append(i.replace('[','').replace(']',''))

# replace the choice_description column in chipo with choice_item
choice = pd.Series(choice_item)
chipo['choice_description'] = choice

# Answer question 3
q3_1 = chipo.groupby('choice_description')['quantity'].sum().sort_values(ascending=False)
most_ordered_item = q3_1.idxmax()
print('The most ordered item in choice_description is', most_ordered_item)

The most ordered item in choice_description is Diet Coke

### 4. How many items were ordered in total?

In [151]:
# 4. How many items were ordered in total?
total_ordered = chipo.quantity.sum()
print('Total number of items ordered is', total_ordered)

Total number of items ordered is 4972

### 5. Turn the item price into a float?

In [152]:
# check the initial data type of the item_price
type_change = chipo.item_price.dtype
print(type_change)

object

In [153]:
# change the data type to float if it isn't already
chipo.item_price = chipo.item_price.str.replace('$','', regex=False).astype(float)
print(chipo.item_price.dtype)

float64

### 6. How much was the revenue for the period in the dataset?

In [158]:
# 6. How much was the revenue for the period in the dataset?
chipo['revenue'] = chipo['quantity'] * chipo['item_price']
print('The revenue for the period in the dataset is','$' + str(chipo.revenue.sum()))

The revenue for the period in the dataset is $39237.02

### 7. How many orders were made in the period?

In [159]:
# 7. How many orders were made in the period?
orders = len(chipo.order_id.unique())
print('Number of orders made in the period is', orders)

Number of orders made in the period is 1834

### 8. What is the average revenue amount per order?

In [160]:
# 8. What is the average revenue amount per order?
average_revenue = round((chipo.revenue / orders).sum(), 2)
print('Average revenue amount is', '$'+str(average_revenue))

Average revenue amount is $21.39

### 9. How many different items are sold?

In [157]:
# 9. How many different items are sold?
print(str(chipo.item_name.value_counts().count()) + ' different items were sold.')

50 different items were sold.

Challenge completed!!!